# Python
__pycache__/
*.py[cod]
venv/
.env
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Models & data
task5_mental_health_chatbot/empathetic_model/
data/*.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
